@use '../abstracts' as *;
// Medium Screen Breakpoint: > 768px & < 992px

//----------------------------------------------------------------------------//

@media (min-width:768px) {
  .header-wrapper {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 5 15px;
  }

  .phone-box,
  .search-div {
    display: none;
  }

  .search-2 {
    display: inline-block;
    height:           56px;
  }

  .search-field {
    padding: 0 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 75%;
    background: #f1f1f1;
    height: inherit;
  }

  .search-btn {
    background-color: #999aa2;
    width:            25%;
    height:           100%;
    border-radius:    0 3px 3px 0;
    border-left:      none;
    border-style:     none;
    font-size:        1.8rem;
    color:            white;
    cursor: pointer;
  }

  .search-btn:hover {
    background-color: #84858f;
  }
}

//

@media (min-width:768px) {
  #tele-anchor,
  #web-anchor,
  #cyber-anchor,
  #developer-anchor {
    width: 50%;
  }

  .info-box {
    width: 100%;
  }

  .info-boxes {
    width: 750px;
  }

  .three-flex {
    width: 100%;
  }
}

// Uses flex to align the about section to the center, defines width for the
// section for this breakpoint.

@media (min-width:768px) {
  .about-wrapper {
    display:         flex;
    justify-content: center;
  }

  .about-flex {
    width: 720px;
  }

  .about-child-1 {
    width: 100%;
  }
}

// News Section loses one card and aligns the remaining two in one row:

@media (min-width:768px) {
  .span-line-container {
    display:         flex;
    justify-content: center;
  }

  .span-n-line {
    width: 720px;
  }

  .card-container {
    width: 750px;
    display: flex;

  }
  .news-containers {
    width: 50%;
    padding: 0 15px;
  }

  .info-date {
    max-height: 325px;
  }

  .news-info {
    height: 180px;
  }

  .news-title {
    height: 30px;
  }

  .news-p {
    height: 40px;
  }

  .footer-wrapper {
    height: 85px;
  }
  .news-card-3 {
    display: none;
  }

  .news-footer h4,
  .news-footer span {
    font-size: 14px;
  }
  .news-footer {
    padding-bottom: 30px;
  }

  .news-info .read-more {
    margin-top: 20px
  }

}

// Client Badges Appear and are sized (not the most efficient way to size,
// will amend it once I've learnt the technique to resize images fluidly):

@media (min-width:768px) {
  .client-parent-wrapper {
    display:         flex;
    justify-content: center;
    width:           750px;
  }

  .client-bar {
    display: flex;
    justify-content: center;
  }

  .client-img {
    padding: 0 15px;
    min-width: 0;
  }

  .busseys {
    width: 121.6px;
  }

  .crane {
    width: 184.95px;
  }

  .beat {
    width: 46.39px;
  }

  .northern-d {
    width: 207.5px;
  }

}

// Limit the width of the sign up section to make layout cleaner

@media (min-width:768px) {
  .sign-up-section {
    background-color: $input-bg;
    display:          flex;
    justify-content:  center;
  }

  .sign-up {
    width: 720px;
  }
}

// Nav section of footer resizes and aligns into columns

@media (min-width:768px) {
 .footer-rows {
   width:     750px;
   display:   flex;
   flex-wrap: wrap;
 }

 .contact-about-row,
 .website-social-row {
   display:   flex;
   flex-wrap: wrap;
 }

 .contact-about__child,
 .website-social__child {
   width: 50%;
 }
}

// Footer Badges appear and are sized
// Badge widths, this can probably done more adaptively
// but  I couldn't get flex-shrink to work for some reason.

@media (min-width:768px) {
  .badge-bar {
    display: flex;
  }
  .badge-wrapper {
    width: 750px;
  }
  .micrsoft {
    width:  87.56px;
    height: 53.3px;
  }

  .future {
    width:  33.5px;
    height: 53.3px;
  }

  .qms {
     width:  45.69;
     height: 53.3px;
  }

  .nfc {
     width:  133.25px;
     height: 53.3px;
  }

  .btm-badge-img {
    width: 200px;
  }
}
