@use '../abstracts' as *;

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

header {
  background-color: white;
}

main {
  background-color: white;
  transition: transform 0.4s;
  transition-timing-function: ease-in;

}

footer {
  background-color: white;
  transition: transform 0.4s;
  transition-timing-function: ease-in;
}
