@use '../abstracts' as *;

.sign-up {
  display:          flex;
  justify-content:  center;
  font-family:      poppins;
  color:            $dark-bg;
  padding:          50px 30px;
  background-color: $input-bg;
  letter-spacing:   0.4;
  font-size:        16px;
}

.input-header {
  line-height: 35.2px;
  font-size:   32px;
}

.input-head,
.input-name,
.input-email {
  margin-bottom: 15px;
}

.input-name {
  display:     flex;
  flex-wrap:   wrap;
  font-weight: bold;
}

.input-email {
  display:     flex;
  flex-wrap:   wrap;
  font-weight: bold;
}

.input-label {
  padding: 0 15px 5px 0;
}

.input-label::after {
  content:'*' ;
  color:  red;
}

.input-field {
  width:  100%;
  height: 45px;
  padding: 0 15px;
  outline: none;
  border: 1px solid #DDDDDD;
  &:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
  }
}

input[type=checkbox] {
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    display: flex;
    outline: none;
    content: none;
    text-align: center;
    line-height: 30px;

}

input[type=checkbox]:before {
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 1.2rem;
    border-radius:4px;
    color: transparent;
    background: $input-bg;
    display: block;
    width: 30px;
    height: 30px;
    border: 3px solid $dark-bg;
}

input[type=checkbox]:checked:before {
  background: $dark-bg;
  color: rgba(255,255,255, 0.85);
  border: 3px solid $dark-bg;
  border-radius:4px;
}

.form-elements {
  display:         flex;
  justify-content: border-left;
  font-weight:     bold;
  line-height:     32px;
}

#privacy-link {
  color:           $dark-bg;
  text-decoration: underline;
}

.label {
  font-weight:    bold;
  letter-spacing: 5;
  margin-bottom:  20px;
  margin-left:    20px;
}

.btn {
  background-color: $dark-bg;
  border:           none;
  color:            white;
  padding:          5px 15px;
}

.btn:hover {
  background-color: #22242E;
}
