@use "../abstracts" as *;

.web-icon {
  color: $web-col;
}

.it-icon {
  color: $it-col;
}

.tele-icon {
  color: $tele-col;
}

.bespoke-icon {
  color:$bespoke-col;
}

.digi-icon {
  color: $marketing-col;
}

.cyber-icon {
  color: $cyber-col;
}
