// Product Colours:

$web-col:            #926fb1;
$it-col:             #4183d7;
$tele-col:           #D64541;
$bespoke-col:        #67809F;
$marketing-col:      #2ecc71;
$cyber-col:          #F62459;

$web-col-drk:        #79539a;
$it-col-drk:         #286abd;
$tele-col-drk:       #bc2c28;
$bespoke-col-drk:    #526781;
$marketing-col-drk:  #25a25a;
$cyber-col-drk:      #de093f;

//Background (bg) Colours:

$dark-bg:  #333645;
$news-bg:  #f3f3f3;
$input-bg: #DDD;

$dark-bg-hover: rbga(20, 21, 27, 0.4);


// Shades of b&w:

$box-col:  #262834;
$grey-col: #666;
$grey-col-btn: #999aa2;
$grey-col-btn-drk: #84858f;

// Other colours:

$blue: #23284B;
$grey: #414143;
$white: #FFFFFF;

//#22242E

// #DDD

// #777


// Social Media Colours:

$fb-blue:        #3b5988;
$twitter-blue:   #00aced;
$linked-in-blue: #0077b5;

// border shading colours:

$border-blk: rgba(0,0,0, 0.4);
$border-gry: rgba(102,102,102, 0.4);
$sb-hover: rgba(102,102,102, 0.15);
